.App {
	width: 100%;
	position: relative;
	
}
@media screen and (min-width: 600px){
    .App {   
	   text-align: center;
    }
    .App-block {
		margin-top: 50px;
    }
}
.App-title {
	font-size: 30px;
	font-weight: 800;
}
.App-update {
	font-size: 14px;
	width: 100%;
	text-align: center;
	padding: 10px;
}
