.ProgressBar {
	text-align: left;
	border: 1px solid gray;
	display: inline-block;
	padding: 10px 10px 20px 10px;
	box-shadow: 4px 4px 0 0 rgba(0,0,0,0.12);
	margin: 10px 0;
	background: white;
}
.ProgressBar-title {
	font-size: 20px;
	font-weight: 800;
}
.ProgressBar-section {
	margin-top: 24px;
}
.ProgressBar-item {
	
	display: inline-block;
	width: 100px;
	vertical-align: top;
}
.ProgressBar-brick {
	//border-bottom: 2px solid gray;
	background: rgb(200,200,200);
	height: 22px;
	
	position: relative;
	text-align: center;
    
    margin: 6px 14px 0px 0px;
    //padding-top: 4px;
    font-size: 16px; 
	
	
}
/*.ProgressBar-brick.is-first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ProgressBar-brick.is-last{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
*/
.ProgressBar-brick.is-completed {
	background: #94D4B6;
}
.ProgressBar-brick.is-current {
	background: gold;	
}
.ProgressBar-brick:before {
	content: '';
	position: absolute;
	top: 0px;
	right: -10px;
	border-top: 11px solid white;
	border-bottom: 11px solid white;
	border-left: 11px solid rgb(200,200,200);
}
.ProgressBar-brick.is-completed:before {
   border-left: 11px solid #94D4B6;
}
.ProgressBar-brick.is-current:before {
   border-left: 11px solid gold;
}




