.Intro {
  background: rgba(0,0,0,0.12);
  top: 0%;
  left: 0%;
  padding: 10px;
  z-index: 200;
  text-align: left;
  
}
@media all and (min-width: 600px){
  .Intro {
    position: absolute;
    top: 180px;
    left: 45%;
    max-width: 240px;
  }
}